@model PW3TPFinal.Models.Reserva

    @{
        ViewBag.Title = "VerificacionReserva";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="container">
    <div class="col-md-12">
        <h3 class="text-md-left">Confirmar Reserva</h3>
        <br />
        <div class="card">
            <div class="card card-block">
                <h5 class="card-text">Su selección actual:</h5>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <td><strong>Pelicula</strong></td>
                            <td><strong>Version</strong></td>
                            <td><strong>Sede</strong></td>
                            <td><strong>Fecha</strong></td>
                            <td><strong>Hora</strong></td>
                        </tr>
                        
                        <tr>
                            <td>Batman</td>
                            <td>Castellano</td>
                            <td>Villa Bosch</td>
                            <td>Lunes 26 de Junio</td>
                            <td>15:30hs</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <div class="card">
            <div class="card card-block">
                <h5 class="card-text">Para confirmar, completar los siguientes datos</h5>
                <hr />
                <div class="panel-body">
                    @using (Html.BeginForm("ConfirmarReserva", "Peliculas", FormMethod.Post, new { @class = "form-signin" }))
                    { <div class="form-group">
                        @Html.Label("Email")
                        @Html.TextBox("Email", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Cantidad de Entradas")
                        @Html.TextBox("CantidadEntradas", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Cantidad, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        DNI
                        <br />
                        <div class="form-group">
                            @Html.Label("Numero de Documento")
                            @Html.TextBox("NumeroDocumento", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NumeroDocumento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <p class="card-text">La reserva estará vigente hasta 1 hora antes de la función. En dicho momento deberá confirmarse en la sede seleccionada.</p>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Confirmar Reserva</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
