@model PW3TPFinal.DAL.Reservas

@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <h3 class="text-md-left">Reservar Película</h3>
        <br />
        <div class="card">
            <div class="card card-block">
                <h5 class="card-text">Reservar</h5>
                <div class="panel-body">
                    @using (Html.BeginForm("ConfirmarReserva", "Peliculas", FormMethod.Post, new { @class = "form-signin" }))
                    {
                        <div class="form-group">
                            @Html.Label("Version")
                            <select class="form-control">
                                @foreach (var v in ViewData.Versiones)
                                {
                                    <option value="@v.IdVersion">@v.Nombre</option>
                                }
                            </select>
                          
                        </div>
                        <div class="form-group">
                            @Html.Label("Sede")
                            <select class="form-control">
                                @foreach(var s in ViewData.Sedes)
                                {
                                    <option value="@s.IdSede">@s.Nombre</option>
                                }
                            </select>
                            
                        </div>
                        <div class="form-group">
                            @Html.Label("Dia")
                            <select class="form-control">
                                @foreach (var d in ViewData.Fechas)
                                {
                                    <option value="@d.dia">@d.Dia</option>
                                }
                            </select>
                            
                        </div>
                        <div class="form-group">
                            @Html.Label("Horario")
                            <select class="form-control">
                                @foreach (var h in ViewData.Horas)
                                {
                                    <option value="@h.Hora">@h.Hora</option>
                                }
                            </select>
                            
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            ¡Comprar!
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
