@model PW3TPFinal.Models.Pelicula
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/css/album.css" rel="stylesheet">

<div class="container">
    @if (TempData["ReservaConfirmada"] != null)
    {
        <p class="alert-success card-block">@TempData["ReservaConfirmada"]</p>
    }
    <h3 class="text-md-left">Peliculas en Cartelera!</h3>
    <br />
    <!-- Listado de Peliculas -->
    <div class="row">
        @foreach (var peli in ViewBag.Peliculas)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@peli.Imagen" width="200" alt="Card image cap">
                    <div class="card-group">
                        <h4><strong>@peli.Nombre</strong></h4>
                        <p class="card-text">Genero: @peli.Generos.Nombre</p>
                        <p class="card-text">Calificacion: @peli.Calificaciones.Nombre</p>
                        @Html.ActionLink("Reservar", "Reserva", "Peliculas", new { @id = @peli.IdPelicula }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>