<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="cresmont, cine, reservas, entradas, online, cartelera, peliculas, estrenos, pochoclos" />

        <title>@ViewBag.Title</title>

        <!-- Bootstrap core CSS -->
        <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/Content/css/sticky-footer-navbar.css")" rel="stylesheet" />
    </head>

    <body>

        @RenderBody()

        <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    </body>
</html>
