@model PW3TPFinal.Models.Pelicula
@{
    ViewBag.Title = "EditarPelicula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <h3 class="text-md-left">Editar Pelicula</h3>
        <br />
        <div class="card">
            <div class="card card-block">
                <div class="panel-body">
                    @using (Html.BeginForm("EditarPelicula", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login-form" }))
                    {
                        @Html.Hidden("IdPelicula", null, new { Value = ViewBag.Pelicula.IdPelicula })

                        @Html.Label("Nombre")
                        @Html.TextBox("Nombre", null, new { @class = "form-control", Value = ViewBag.Pelicula.Nombre })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Descripcion")
                        @Html.TextArea("Descripcion", (String)ViewBag.Pelicula.Descripcion, new { rows = 5, columns = 20, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Genero")
                        @Html.DropDownList("IdGenero", new SelectList(ViewBag.Generos, "IdGenero", "Nombre", ViewBag.Pelicula.IdGenero), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdGenero, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Calificacion")
                        @Html.DropDownList("IdCalificacion", new SelectList(ViewBag.Calificaciones, "IdCalificacion", "Nombre", ViewBag.Pelicula.IdCalificacion), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdCalificacion, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Cambiar Imagen")
                        <div class="col-md-2">
                            <h6>Imagen actual</h6>
                            <img src="@ViewBag.Pelicula.Imagen" class="img-thumbnail" width="80" /> 
                        </div>
                        @Html.TextBox("Imagen", null, new { @class = "form-control", type = "file" })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Duración")
                        @Html.TextBox("Duracion", null, new { @class = "form-control", Value = ViewBag.Pelicula.Duracion })
                        @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })

                        <br />

                        <button type="submit" class="btn btn-lg btn-primary btn-block">Editar Pelicula</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <br />
        @Html.ActionLink("Volver", "Peliculas", new { @controller = "Administracion" }, new { @class = "btn btn-sm btn-primary btn-block" })
    </div>
</div>

