@model PW3TPFinal.Models.Cartelera
@{
    ViewBag.Title = "Editar Cartelera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <h3 class="text-md-left">Editar Cartelera</h3>
        <br />
        <div class="card">
            <div class="card card-block">
                <div class="panel-body">
                    @using (Html.BeginForm("EditarCartelera", "Administracion", FormMethod.Post, new { @class = "login-form" }))
                    {

                        @Html.Hidden("IdCartelera", null, new { Value = ViewBag.Cartelera.IdCartelera })

                        @Html.Label("Seleccione una sede")
                        @Html.DropDownList("IdSede", new SelectList(ViewBag.Sedes, "IdSede", "Nombre", ViewBag.Cartelera.IdSede), new { @class = "form-control", Value = ViewBag.Cartelera.IdSede })
                        @Html.ValidationMessageFor(model => model.IdSede, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Numero de Sala")
                        @Html.TextBox("NumeroSala",null, new { @class = "form-control", Value = ViewBag.Cartelera.NumeroSala })
                        @Html.ValidationMessageFor(model => model.NumeroSala, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Seleccione una Película")
                        @Html.DropDownList("IdPelicula", new SelectList(ViewBag.Peliculas, "IdPelicula", "Nombre", ViewBag.Cartelera.IdPelicula), new { @class = "form-control", Value = ViewBag.Cartelera.IdPelicula })
                        @Html.ValidationMessageFor(model => model.IdPelicula, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Seleccione una Version")
                        @Html.DropDownList("IdVersion", new SelectList(ViewBag.Versiones, "IdVersion", "Nombre", ViewBag.Cartelera.IdVersion), new { @class = "form-control", Value = ViewBag.Cartelera.IdVersion })
                        @Html.ValidationMessageFor(model => model.IdVersion, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Seleccione los días a proyectar")
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-control">
                                    @Html.CheckBox("Lunes", (bool)ViewBag.Cartelera.Lunes)
                                    @Html.Label("Lunes")
                                </div>
                                <br />
                                <div class="form-control">
                                    @Html.CheckBox("Jueves", (bool)ViewBag.Cartelera.Jueves)
                                    @Html.Label("Jueves")

                                </div>
                                <br />
                                <div class="form-control">
                                    @Html.CheckBox("Domingo", (bool)ViewBag.Cartelera.Domingo)
                                    @Html.Label("Domingo")

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-control">
                                    @Html.CheckBox("Martes", (bool)ViewBag.Cartelera.Martes)
                                    @Html.Label("Martes")
                                </div>
                                <br />
                                <div class="form-control">
                                    @Html.CheckBox("Viernes", (bool)ViewBag.Cartelera.Viernes)
                                    @Html.Label("Viernes")
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-control">
                                    @Html.CheckBox("Miercoles", (bool)ViewBag.Cartelera.Miercoles)
                                    @Html.Label("Miercoles")
                                </div>
                                <br />
                                <div class="form-control">
                                    @Html.CheckBox("Sabado", (bool)ViewBag.Cartelera.Sabado)
                                    @Html.Label("Sabado")
                                </div>
                            </div>
                        </div>
                        <br />
                        @Html.Label("HoraInicio", "Hora de inicio de Cartelera")
                        @Html.TextBox("HoraInicio", 15, new { @class = "form-control", Value = ViewBag.Cartelera.HoraInicio })
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Label("FechaInicio", "Fecha de Inicio")
                                @Html.TextBox("FechaInicio", null, new { @class = "form-control", type = "Date", Value = ViewBag.Cartelera.FechaInicio.ToString("yyyy-MM-dd") })
                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.Label("FechaFin", "Fecha de Fin")
                                @Html.TextBox("FechaFin", null, new { @class = "form-control", type = "Date" , Value = ViewBag.Cartelera.FechaFin.ToString("yyyy-MM-dd") })
                                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary btn-ln btn-block">Editar Cartelera</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <br />
        @Html.ActionLink("Volver", "Carteleras", new { @controller = "Administracion" }, new { @class = "btn btn-sm btn-primary btn-block" })
    </div>
</div>




