
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/album.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="card-title">Bienvenido @Session["user"], elige la opcion que deseas realizar:</h4>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td><strong>Gestionar Peliculas</strong></td>
                        <td>@Html.ActionLink("Gestionar", "Peliculas", new { @Controller = "Administracion" }, new { @class = "text-right" })</td>
                    </tr>
                    <tr>
                        <td><strong>Gestionar Sedes</strong></td>
                        <td>@Html.ActionLink("Gestionar", "Sedes", new { @Controller = "Administracion" }, new { @class = "text-right" })</td>
                    </tr>
                    <tr>
                        <td><strong>Gestionar Carteleras</strong></td>
                        <td>@Html.ActionLink("Gestionar", "Carteleras", new { @Controller = "Administracion" }, new { @class = "text-right" })</td>
                    </tr>
                    <tr>
                        <td><strong>Gestionar Reportes de Reservas</strong></td>
                        <td>@Html.ActionLink("Gestionar", "Reportes", new { @Controller = "Administracion" }, new { @class = "text-right" })</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>