@model PW3TPFinal.Models.Pelicula
@{
    ViewBag.Title = "NuevaPelicula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-md-12">
        <h3 class="text-md-left">Agregar Nueva Pelicula</h3>
        <br />
        <!-- Listado de Sedes -->
        <div class="card">
            <div class="card card-block">
                <div class="panel-body">
                    @using (Html.BeginForm("NuevaPelicula", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login-form" }))
                    {
                        @Html.Label("Nombre")
                        @Html.TextBox("Nombre", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Descripcion")
                        @Html.TextArea("Descripcion", new { rows = 6, columns = 40, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Genero")
                        <select name="idGenero" class="form-control" data-live-search="true">
                            @foreach (var g in ViewBag.Generos)
                            {
                                <option value="@g.IdGenero">@g.Nombre</option>
                            }
                        </select>

                        <br />
                        @Html.Label("Calificacion")
                        <select name="idCalificacion" class="form-control" data-live-search="true">
                            @foreach (var c in ViewBag.Calificaciones)
                            {
                                <option value="@c.IdCalificacion">@c.Nombre</option>
                            }
                        </select>

                        <br />
                        @Html.Label("Imagen")
                        @Html.TextBox("Imagen", null, new { @class = "form-control", type = "file" })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Duración")
                        @Html.TextBox("Duracion", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })

                        <br />

                        <button type="submit" class="btn btn-lg btn-primary btn-block">Agregar</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
