@model IEnumerable<PW3TPFinal.Models.Reserva>

@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <h3 class="text-md-left">Generar reportes de Reservas</h3>
        <br />
        <!-- Listado de Sedes -->
        <div class="card">
            <div class="card card-block">
                <div class="panel-body">
                    @using (Html.BeginForm("ReporteReserva", "Administracion", FormMethod.Post, new { @class = "login-form" }))
                    {
                        @Html.Label("Pelicula")
                        <select class="form-control">
                            @foreach (var p in ViewBag.Peliculas)
                            {
                                <option value="@p.IdPelicula">@p.Nombre</option>
                            }
                        </select>
                        <br />
                        @Html.Label("Desde")
                        @Html.TextBox("FechaInicio", null, new { @class = "form-control", type = "Date" })
                        <br />
                        @Html.Label("Hasta")
                        @Html.TextBox("FechaFin", null, new { @class = "form-control", type = "Date" })
                        <br />
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            Generar Reporte
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
