@model PW3TPFinal.Models.Sede

@{
    ViewBag.Title = "Sedes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
        <div class="col-md-12">
            <h3 class="text-md-left">Gestionar Sedes</h3>
            <br />
            <!-- Listado de Sedes -->
            <div class="card">
                <div class="card card-block">
                    <h5 class="card-text">Listado de sedes activas</h5>
                    <div class="panel-body">
                        <table class="table table-hover text-center">
                            <tr>
                                <td><strong>Sede</strong></td>
                                <td><strong>Accion</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-12">

            <!-- Crear nueva Sede -->

            @using (Html.BeginForm("Sedes", "Administracion", FormMethod.Post, new { @class = "form-signin" }))
            {
                <div class="form-control">
                    <h4 class="form-text">Agregar Nueva Sede</h4>
                    <hr />
                    <p>
                        @Html.Label("Nombre de Sede")
                        @Html.TextBox("Nombre", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                        <br />
                        @Html.Label("Direccion")
                        @Html.TextBox("Direccion", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        <br />
                        @Html.Label("Precio")
                        @Html.TextBox("Precio", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PrecioGeneral, "", new { @class = "text-danger" })
                    </p>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Agregar</button>
                </div>
            }
        </div>
    </div>
</div>